<div class="sidebar-nav">
  <ul class="nav nav nav-pills nav-stacked">

    <li class="active"><a routerLink="dashboard"> Tableau de bord</a></li>
    <li class="nav-divider"></li>
    <li><a href="#">Mes temps</a></li>
    <li class="nav-divider"></li>
    <li><a href="#">Mes frais</a></li>
    <li class="nav-divider"></li>
    <li><a href="#">Mes absences</a></li>
    <li class="nav-divider"></li>
    <li><a routerLink="/projects" routerLinkActive="active">Mes projets</a></li>
    <li class="nav-divider"></li>
    <li><a routerLink="/products" routerLinkActive="active">Mes produits</a></li>
    <li class="nav-divider"></li>
  </ul>
</div>