<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>

      <li class="dropdown" *ngIf="hasRoleAdmin()">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Gestion des utilisateurs</a></li>
          <li><a href="#">Gestion des catégories</a></li>
          <li><a href="#">Gestion des produits</a></li>
          
        </ul>
      </li>

      <li><a href="#">Accueil</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li *ngIf="!isAuthenticated()"><a (click)=onClickLogin()><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li *ngIf="isAuthenticated()"><a (click)=onClickLogout()><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="col-md-2">
    <app-products></app-products>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
  
</div>